queue:
- name: default
  rate: 1/s
- name: queue0
  rate: 200/s
- name: queue1
  rate: 100/s
- name: queue2
  rate: 90/s
- name: queue3
  rate: 80/s
- name: queue4
  rate: 70/s
- name: queue5
  rate: 60/s
- name: queue6
  rate: 50/s
- name: queue7
  rate: 40/s
- name: queue8
  rate: 30/s
- name: queue9
  rate: 20/s
