<html>
<head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script src='/_ah/channel/jsapi'></script>
    <script type="text/javascript">
      // vars
      var host = "{{ host }}";
      var hostname = window.location.hostname;
      var port = window.location.port;
      var url = "http://" + hostname + ":" + port + "/dispatch/";
      var url2 = "https://" + hostname + ":" + port + "/dispatch/";
      var got = hostname.indexOf("localhost");
      var starttime = new Date();
      var interval_id;
      var lastpolled = new Date();
      var lpdate = lastpolled.getTime();
      var sleeptime = 180000;
      var host = "";
      var viewer = "";
      var hostid = "";
      var viewerid = "";
      var parameters = "";
      var identtime = new Date();
      var token = "{{ token }}";
      var consoletxt = '<br><form><b>&lt;-</b><input length="100" type="text" name="cmnd" onKeyPress="return doexec(this.form, event);" /><b>-&gt;</b></form><div class="body" background-color="pink" align="center" id="content_div"><i>Welcome to JSONBOT</i></div>';
      var feedstxt = '<br><form name="feeddata" action="javascript:submitfeed(this.form);" method="GET"><b>feed name - </b> <input type="text" name="name" /><br></b><b>feed url - </b> <input type="text" name="url" onKeyPress="return doenter(this.form, event);" /><br><br><input type="submit" name="Enter" onClick="return submitfeed(this.form);"/><input type="reset" name="reset" /></form><div class="body" align="left" id="content_div"><i>no feeds entered yet.</i></div>';

      // channel stuff

      onOpened = function() {
        contime = new Date();
        topper("channel opened on " + contime.toUTCString());
        bottom("channel opened on " + contime.toUTCString());
      }

      onClose = function() {
        contime = new Date();
        topper("channel closed on " + contime.toUTCString());
        bottom("channel closed on " + contime.toUTCString());
        //setTimeout("doCmnd('!chan-newtoken', openChannel);", 1000); 
      }

      onMessage = function(m) {
        // newState = JSON.parse(m.data);
        bottom(m.data);
      }

      onError = function(m) {
        // newState = JSON.parse(m.data);
      }

      openChannel = function(t) {
        topper("connecting");
        var token = "{{ token }}";
        if (token) {
            var channel = new goog.appengine.Channel(token);
        }
        else {
            var channel = new goog.appengine.Channel(t);
        }
        statusadd(" - channel created");
        var socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
        statusadd(" - socket set");
      }

      // utils functions

      function elapsed() {
        last = new Date();
        diff = last.getTime() - starttime.getTime();
        starttime = last;
        return diff;
      }

      // state 

      function stateUpdated() {
        hostid = wave.getHost().getId();
        viewerid = wave.getViewer().getId();
        topper(hostid + ' ' + viewerid);
      }

      // mainloop

      function loop() {
          update();
          lastpolled = new Date();
          //var lpdate = lastpolled.getTime();
          status("last polled at " + lastpolled.toUTCString());
      }


      // INIT

      function start() {
          setCookie();
          openChannel();
          // update();
          setTimeout("doCmnd('!welcome', response, 'background');", 50);
          setTimeout("doCmnd('!outputcache', dobottom, 'background');", 50);
          setTimeout("location.reload(true);", 3600000);
          //setTimeout("update();", 10);
          //setInterval("loop();", 180000);
      }


      function init() {
        setTimeout("consolestart();", 100)
      }

      function consolestart() {
          doconsole();
          status("booting");
          output(url);
          start();
          statusadd(" - done - " + elapsed() + " msec");
      }

      function update(what) {
        if (what=="feeds") {
            doCmnd('!outputcache', dobottom, "background");
            doCmnd('!statusline', dotop), "background";
            doCmnd('!rss-feeds', doinfo, "background");
        }
        else {
            setTimeout('doCmnd("!statusline", dotop, "background");', 10000);
            doCmnd('!topper', doinfo, "background");
            //setTimeout('doCmnd("!uptime", dotop, "background");', 100);
        }
      }

      function doconsole() {
        doscreen(consoletxt);
        document.forms[0].cmnd.focus();
      }

      function dofeeds() {
        doscreen(feedstxt);
        document.forms[0].name.focus();
      }


      function setCookie() {
        var val = localStorage && localStorage.getItem("jsb_cookie");
        if (!val) {
            val = identtime.getTime();
            localStorage && localStorage.setItem("jsb_cookie", val);
        }
      } 

      // submit feed url to the server

      function submitfeed(form) {
           cmnd = "!rss-register " + form.name.value + " " + form.url.value;           
           doCmnd(cmnd, response);
           // setTimeout("update();", 500);
           return false;
      } 

      // function to launch on enter in the command box

      function doenter(form, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
           else if (e) keycode = e.which;
        else return true;
        if (keycode == 13)
        {
           cmnd = "!rss-register " + form.name.value + " " + form.url.value;           
           doCmnd(cmnd, response, "background");
           // setTimeout("update();", 500);
           return false;
        }
        else
          return true;
      }

      function doexec(form, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
           else if (e) keycode = e.which;
        else return true;
        if (keycode == 13) {
           cmnd = form.cmnd.value; 
           doCmnd(cmnd, response);
           form.cmnd.value = "";
           form.focus();
           // setTimeout("update();", 100);
           return false;
        }
        else
          return true;
      }

      // output functions

      function output(text) {
        var html = "<br>" + text;
        var element = document.getElementById("content_div");  
        element.innerHTML = html;
      }

      function down(text) {
        var html = text;
        var element = document.getElementById("down_div");  
        element.innerHTML = html;
      }

      function info(text) {
        var html = "<i>";
        html += text;
        html += "</i>";

        var element = document.getElementById("info_div");  
        element.innerHTML = html;
      }

      function footer(text) {
        var html = "<i>";
        html += text;
        html += "</i>";

        var element = document.getElementById("footer_div");  
        element.innerHTML = html;
      }

      function topper(text) {
        var html = "<i>";
        html += text;
        html += "</i>";
        var element = document.getElementById("topper_div");  
        element.innerHTML = html;
      }

      function statusadd(text) {
        var html = "<i>";
        html += text;
        html += "</i>";

        var element = document.getElementById("status_div");  
        element.innerHTML += html;
      }

      function status(text) {
        var html = "<i>";
        html += text;
        html += "</i>";

        var element = document.getElementById("status_div");  
        element.innerHTML = html;
      }

      function status2add(text) {
        var html = "<b>";
        html += text;
        html += "</b>";

        var element = document.getElementById("status_div2");  
        element.innerHTML += html;
      }

      function status2(text) {
        var html = "<b>";
        html += text;
        html += "</b>";

        var element = document.getElementById("status_div2");  
        element.innerHTML = html;
      }

      function bottom(text) {
        var html = "";
        html += text;
        html += "<br>";
        var element = document.getElementById("bottom_div");  
        html += element.innerHTML
        element.innerHTML = html;
      }

      function doscreen(screentxt) {
        var element = document.getElementById("screen_div");  
        element.innerHTML = screentxt;
      }

      // response functions

      function response(obj) {
          if (obj.how != "background") {
              statusadd(" - " + obj.readyState.toString())
          }
          if (obj.readyState==4){
              statusadd(" - status: " + obj.status + " - ")
              if (obj.status==200) {
                   output(obj.responseText);
                   statusadd(elapsed() + " msec - OK");
              }
              else {
                   statusadd(elapsed() + " msec - NOT OK");
                   topper("status is " + obj.status)
                   output(obj.responseText);
              }
              update();
          }
      }

      function dodown(obj) {
          if (obj.readyState==4) {
              if (obj.status==200) {
                  down(obj.responseText);
              }
          }
      }

      function dotop(obj) {
          if (obj.readyState==4) {
              if (obj.status==200) {
                  topper(obj.responseText);
              }
          }
      }

      function dostatus(obj) {
           if (obj.readyState==4) {
               if (obj.status==200) {
                   status(obj.responseText);
              }
          }
      }

      function dobottom(obj) {
           if (obj.readyState==4) {
               if (obj.status==200) {
                   bottom(obj.responseText);
              }
          }
      }

      function doinfo(obj) {
           if (obj.readyState==4) {
               if (obj.status==200) {
                   info(obj.responseText);
              }
          }
      }

      function doCmnd(cmnd, resp, how) {
          var request = false;
          if (window.XMLHttpRequest) {
              request = new XMLHttpRequest();
          }
          else if (window.ActiveXObject) { 
              try {
                  request = new ActiveXObject("Msxml2.XMLHTTP");
              } catch (e) {
                  try {
                      request = new ActiveXObject("Microsoft.XMLHTTP");
                  } catch (e) {}
              }
          }

          if (!request) {
              topper("can't make connection to server");
              return false;
          }

          request.cmnd = cmnd;
          request.how = how;
          request.onreadystatechange = function () {
              resp(request);
          }

          if (how != "background") {
              status("sending command - ");
          }
          // output(got.toString());
          if (got == 0) {
              request.open("POST", url, true);
          }
          else {
              request.open("POST", url2, true);
          }
          request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          request.setRequestHeader("Content-Length", parameters.length);
          request.setRequestHeader("Cache-Control", "no-cache");
          webchan = "{{ webchan }}";
          parameters="content="+encodeURIComponent(cmnd) + "&how=" + encodeURIComponent(how) + "&webchan=" + encodeURIComponent(webchan);
          starttime = new Date();
          request.send(parameters);
          return true;
      }
   </script>
</head>
<body>
    <title>{{ host }}</title>
    <div class="related">
      <ul> 
        <li class="right" style="margin-right: 10px">
          <a href="{{ logouturl }}" title="logout">logout</i></a></li>
        <li class="right" style="margin-right: 10px">{{ loginurl }} - {{ who }}</i></a> |</li>
        <li><a href="http://jsonbot.appspot.com/docs/html/index.html" onclick='window.open("http://jsonbot.appspot.com/docs/html/index.html"); return false'><b>DOCS</b></a></li>
        <li>-</li>
        <li><a href="" title="console" onclick='doconsole(); return false;'><b>console</b></a></li>
        <li>-</li>
        <li><a href="" title="feeds" onclick='dofeeds(); return false;'><i>feeds</i></a></li>
      </ul>
    </div> 
    <div align="center" class="footer" id="status_div"></div>
    <div class="footer" id="info_div"></div>
    <div align="center">
    <div class="body"><h1><b>{{ appname }}</b></h1><div><br>
    <div id="topper_div">{{ version }}</div><br>
    <div style="position: relative; width: 90%; height: 80px; background-color: {{ color }};" id="screen_div"></div>
    </div></div>
    <br><br>
    <div class="related" id="status_div2">
      <ul align="center">
        <li><b>outputcache<b></li>
      </ul>
    </div>
    <div align="left" class="footer" id="bottom_div"></div>
    <div id="down_div"><i>running on {{ host }}</i></div>
    <br>
</body>
<body onLoad="init();" />
</html>
