<html>
<head>
    <link rel="stylesheet" href="http://jsonbot.appspot.com/style.css" type="text/css" />
    <script type="text/javascript" src="http://jsonbot.appspot.com/console.js" />
</head>
<body>
    <div class="related">
      <ul> 
        <li class="right" style="margin-right: 10px">
          <a href="{{ logouturl }}" title="logout">logout</i></a></li>
        <li class="right" style="margin-right: 10px">
          <a href="{{ loginurl }}" title="login">{{ who }}</i></a> |</li>
        <li><a href="" title="console" onclick='doconsole(); return false;'><b>console</b></a></li>
        <li>-</li>
        <li><a href="" title="feeds" onclick='dofeeds(); return false;'><i>feeds</i></a></li>
      </ul>
    </div> 
    <div class="body" align="center">
        <div><h1>JSONBOT</h1></div><br>
        <div id="topper_div"></div><br>  
        <div id="screen_div"></div>
    </div>
    <div class="footer" id="status_div"></div>
  </body>
  <body onLoad="consoleinit();">
</html>  
