<html>
<head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script type="text/javascript" src="assets/console.js" /></script>
</head>
<body onLoad="init();">
    <title>Welcome to {{ appname }}</title>
    <div class="related">
      <ul> 
        <li class="right" style="margin-right: 10px">
          <a href="{{ logouturl }}" title="logout">logout</i></a></li>
        <li class="right" style="margin-right: 10px">
          <a href="{{ loginurl }}" title="login">{{ who }}</i></a> |</li>
        <li><a href="" title="console" onclick='doconsole(); return false;'><b>console</b></a></li>
        <li>-</li>
        <li><a href="" title="feeds" onclick='dofeeds(); return false;'><i>feeds</i></a></li>
      </ul>
    </div> 
    <div class="footer" id="info_div"></div>
    <div class="body" align="center">
        <div><h1>JSONBOT</h1></div><br>
        <div id="topper_div"></div><br>  
        <div id="screen_div"></div>
    </div>
    <div class="footer" id="status_div"></div>
    <div class="footer" id="doc_div"><a href="http://jsonbot.appspot.com/docs/html/index.html" onclick='window.open("http://jsonbot.appspot.com/docs/html/index.html"); return false'><i><b>DOCS</b></i></a></div>
    <div class="footer" id="bottom_div"></div>
</body>
</html>